body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
.top-color {
    background-color: #2E2F42;
}
.text {
    color: #FFFFFF;
    text-align: center;
}

.logo {
    color: #4D5AE5;
}
.secondlogo {
    color: #F4F4FD;
}
footer {
    background-color: #2E2F42
}
.footer-text {
    color: #E7E9FC;
}
.second-logo-top {
    color: #2E2F42;
}
.interactive:focus,
.interactive:hover,
.interactive:active {
    background-color: #4D5AE5;
    color: #FFFFFF;
}
.interactive {
    background-color: #FFFFFF;
    color: #4D5AE5;
    cursor: pointer;
}
.nav {
    color:#2E2F42;
}
.contacts {
    color:#434455;
}
.link-to:visited {
    color: #2E2F42;
}
